{% load staticfiles %}
<div class="jumboton drchrono_signup">
    <h3>Want to wish your patients on their birthdays?</h3>
    <a class="btn btn-success btn-lg" href="{% url 'login' %}">Login with drchrono&nbsp;&nbsp;<img src="{% static 'img/drchrono.png' %}" width="30"> </a>
    </div>


    <div class="jumbotron features col-md-5 col-sm-12">
    <h3><strong>Features</strong></h3>
    <div class="row">

    <div class="col-md-4 col-sm-12 card">
            <div class="thumbnail">
                <img src="{% static 'img/customize.jpg' %}">
                <div class="caption">
                    <h5><strong>Customize the greeting content </strong></h5>
                </div>
            </div>
        </div>

    <div class="col-md-4 col-sm-12 card">
            <div class="thumbnail">
                <img src="{% static 'img/toggle.png' %}">
                <div class="caption">
                    <h5><strong>Instantly change greeting between SMS, email</strong></h5>
                </div>
            </div>
        </div>

    <div class="col-md-4 col-sm-12 card">
            <div class="thumbnail">
                <img src="{% static 'img/toggle1.gif' %}">
                <div class="caption">
                    <h5><strong>Instantly activate or deactivate to the service</strong></h5>
                </div>
            </div>
        </div>
    </div>
</div>

        <div class="jumbotron coming_soon col-md-5 col-sm-12">
    <h3><strong>Curing Soon</strong></h3>
        <div class="row">

    <div class="col-md-4 col-sm-12 card">
            <div class="thumbnail">
                <img src="{% static 'img/card.png' %}">
                <div class="caption">
                    <h5><strong>Greeting cards for email</strong></h5>
                </div>
            </div>
        </div>

    <div class="col-md-4 col-sm-12 card">
            <div class="thumbnail">
                <img src="{% static 'img/multi_customize.jpg' %}">
                <div class="caption">
                    <h5><strong>Multiple Custom Greetings </strong></h5>
                </div>
            </div>
        </div>

    <div class="col-md-4 col-sm-12 card">
            <div class="thumbnail">
                <img src="{% static 'img/time-zone.png' %}">
                <div class="caption">
                    <h5><strong>TimeZone Support</strong></h5>
                </div>
            </div>
        </div>
    </div>
</div>